.blog-header {
	background: url('../../img/services/service_header_1.svg') no-repeat center scroll;
	background-size: cover;
	height: 50vh;
}

.blog-card {
	background-color: white;
	/* width: ; */
	-webkit-box-shadow: 2px 4px 15px 0px rgb(230, 230, 230);
	-moz-box-shadow: 2px 4px 15px 0px rgba(230, 230, 230, 1);
	box-shadow: 2px 4px 15px 0px rgb(230, 230, 230);
}

.blog-title {
	font-size: 2.5rem;
	font-weight: 600;
	color: #282828;
}

.blog-parag {
	font-size: 1.375rem;
	font-weight: 500;
	text-align: justify;
	color: rgba(58, 58, 58, 0.6);
}