.news-header {
	background: url('../../img/services/service_header_1.svg') no-repeat center scroll;
	background-size: cover;
	height: 50vh;
}

.news-card {
	background-color: white;
	/* width: ; */
	-webkit-box-shadow: 2px 4px 15px 0px rgb(230, 230, 230);
	-moz-box-shadow: 2px 4px 15px 0px rgba(230, 230, 230, 1);
	box-shadow: 2px 4px 15px 0px rgb(230, 230, 230);
}

.news-title {
	font-size: 1.125rem;
	font-weight: 600;
	color: #282828;
}

.news-parag {
	font-size: 1rem;
	font-weight: 500;
	color: rgb(106, 106, 106, 0.6);
}