.fact-icon {
	width: 6.93rem;
	height: 6.93rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.col:nth-child(3n+1)>.fact-icon {
	background-color: #E3FFF1;
	border: 1px solid #80ffbf;
}

.col:nth-child(3n+2)>.fact-icon {
	background-color: #FFF4EC;
	border: 1px solid #ffb783;
}

.col:nth-child(3n+3)>.fact-icon {
	background-color: #EDFDFF;
	border: 1px solid #81edfb;
}