.frequently .collapse-card {
	-webkit-box-shadow: 0px 3px 20px -5px rgba(144, 144, 144, 0.6);
	-moz-box-shadow: 0px 3px 20px -5px rgba(144, 144, 144, 0.6);
	box-shadow: 0px 3px 20px -5px rgba(144, 144, 144, 0.6);
}

.freq-body {
	background-color: #F7F7FB;
}

.freq-title {
	color: #170F49;
}

.freq-parag {
	color: #6F6C90;
	font-size: 1.125rem;
	font-weight: 400;
}

.freq-btn {
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 8px 12px;
	background-color: rgb(var(--blue));
	color: white;
}