.custom-list-item {
	font-size: 1.125rem;
	font-weight: 500;
}

li.custom-list-item:nth-child(4n+1)::marker {
	color: #305FC2 !important;
}

li.custom-list-item:nth-child(4n+2)::marker {
	color: #F79D56 !important;
}

li.custom-list-item:nth-child(4n+3)::marker {
	color: #43CEA2 !important;
}

li.custom-list-item:nth-child(4n+4)::marker {
	color: #32B2B2 !important;
}