.footer {
	background-image: linear-gradient(135deg, #43cea2 10%, #0f7ad3 50%);
}

.footer-title {
	font-size: 1.375rem;
}

.footer-title,
.footer-parag,
.footer-link {
	color: rgb(var(--white));
	font-weight: 400;
}

.footer-btn {
	font-size: 1.125rem;
	font-weight: bold;
	color: rgb(var(--blue));
	background-color: rgb(var(--white));
	border-radius: 8px;
	border: none;
	cursor: pointer;
}

.footer-btn:active {
	box-shadow: inset 0 3px 5px rgba(var(--black), 0.125);
}

.footer-link {
	text-decoration: none;
	cursor: pointer;
}

.footer-link:hover {
	cursor: pointer;
}

.footer-icon {
	color: white;
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	border-radius: 50%;
}

.footer-icon:hover {
	color: rgb(var(--blue));
	background-color: white;
	border: none;
}

.contact .contact-icon {
	width: 1.875rem;
}

.footer input::placeholder {
	color: white !important;
}

.footer input::-moz-placeholder {
	color: white !important;
}

.footer input::-webkit-input-placeholder {
	color: white !important;
}

.custom-input {
	letter-spacing: 2px;
	font-weight: 200;
	/* padding: 1rem; */
	color: white;
	background-color: transparent;
	border-width: 0 0 1px 0;
	border-color: 0 0 white 0;
	border-style: none none solid none;
	border-radius: 0;
}

.custom-input:active,
.custom-input:focus {
	color: white;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: none;
}

.newsletter-btn {
	/* font-size: 2rem; */
	font-weight: bold;
	color: rgb(var(--blue));
	background-color: white;
	/* padding: 1rem 1.25rem; */
	border: none;
	border-start-start-radius: 8px;
	border-start-end-radius: 8px;
}